@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* Primary */
    --design-cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    /* Secondary */
    --design-red: hsl(0, 87%, 67%);

    /* Neutral */
    --design-gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

@layer base{
    html{
        font-family: 'Poppins', sans-serif;
    }

    body{
        font-size: 18px;
    }
}

@layer components{
    .signup-button{
        @apply h-[45px] bg-design-cyan rounded-full;
    }

    .get-started{
        @apply w-[200px] h-[55px] rounded-full bg-design-cyan text-white font-bold;
    }

    #Link-shortener-form{
        background-image: url("./img/bg-shorten-mobile.svg");
    }

    @media all (min-width:1024px){
        #Link-shortener-form{
            background-image: url("./img/bg-shorten-desktop.svg");
            background-size:cover;
        }
    }

    .Statistics-section-info-item{
        @apply bg-white pt-20 flex flex-col text-center xl:text-left mb-[86px] xl:mb-0 h-[280px] xl:h-[290px] w-[87%] xl:w-[25%] xl:mr-3 xl:pl-8 xl:pr-8  relative
    }

    .info-svg-box{
        @apply relative flex justify-center xl:justify-start
    }

    .info-svg{
        @apply  bg-no-repeat bg-center rounded-full w-[85px] h-[85px] bg-dark-violet absolute -mt-[125px]
    }

    .info-h-tag{
        @apply text-[21px] md:text-[23px] xl:text-[21px] font-bold text-very-dark-blue mb-4
    }

    .Statistics-section-p-tag{
        @apply text-grayish-violet text-center px-[22px] leading-7 text-base lg:text-lg md:px-[150px] xl:px-[0]
    }

    .Statistics-vertical-line-box{
        @apply absolute -bottom-[51px] w-full h-fit flex justify-center xl:hidden
    }

    .Statistics-vertical-line{
        @apply w-[9px] h-[50px] bg-design-cyan
    }

    .Statistics-horizontal-line-box{
        @apply hidden w-fit h-fit xl:block xl:-ml-8 xl:mt-7
    }
    
    .Statistics-horizontal-line{
        @apply xl:w-[30px] xl:h-[9px] bg-design-cyan
    }

    .Bottom-banner-section{
        background-image: url("./img/bg-boost-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media all (min-width:768px){
        .Bottom-banner-section{
            background-image: url("./img/bg-boost-desktop.svg")
        }
    }

    .Ready-link-box{
        @apply w-full lg:flex lg:justify-between lg:items-center bg-white rounded-md pt-3 pb-3 lg:pt-5 lg:pb-5 mt-6;
    }

    .User-link{
        @apply inline-block lg:w-[500px]  lg:mr-8 max-h-20 pl-3 lg:pl-6 text-very-dark-blue text-[14px] lg:text-base lg:text-[17px] lg:font-bold overflow-x-auto
    }
    
    .Ready-link-box-horizontal-line{
        @apply border-gray-300 lg:hidden;
    }
    
    .Ready-link-item{
        @apply lg:min-w-[350px] text-[14px] lg:text-[18px] pl-3 lg:pl-0 pr-5 lg:flex;
    }
    
    .Ready-link-text{
        @apply text-design-cyan lg:flex lg:items-center lg:font-bold inline-block mt-4 lg:mt-0 mb-1 lg:mb-0 lg:mr-7;
    }
    
    .Ready-link-copy-button{
        @apply w-full lg:w-[125px] lg:font-bold bg-design-cyan text-white rounded-md h-[40px] hover:opacity-50;
    }
    
    footer li a:hover{
        @apply text-design-cyan
    }

    footer li svg:hover path{
            fill: var(--design-cyan)
    }
}   

@layer utilities{
   .border {
        @apply border-[3px] border-solid border-design-red;
    }
    .working-illustration-svg{
        transform: scale(0.7);
        transform-origin: left center;
    }
    @media all (min-width: 380px){
       .working-illustration-svg{
           margin-left: 10%;
       }
    }
    @media all (min-width: 768px){
        .working-illustration-svg{
            transform-origin: center;
        }
     }
     @media all (min-width: 1024px){
        .working-illustration-svg{
            margin-left: 0;
            transform-origin: left;
        }
     }
     @media all (min-width: 1280px){
        .working-illustration-svg{
            transform: scale(0.9);
            transform-origin: right;
        }
     }

} 